<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Playing around with guildwars2 API.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8FA0CA361F48D1BC0057D18C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FA0CA471F48D1BD0057D18C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FA0CA521F48D1BD0057D18C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
